.athena-footer {
  height: fit-content;
  height: -moz-fit-content;
  min-height: 350px;
  width: 100vw;
  background-color: #101116;
  color: white;
}

.athena-footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
}

.athena-footer-brand {
  height: fit-content;
  height: -moz-fit-content;
  width: 40%;
  text-align: left;
  margin: 30px;
}

.athena-footer-brand > p {
  color: #a7a4a4;
  padding: 5px;
  margin: 5px;
}

.athena-footer-brand > img {
  height: 128px;
  width: 128px;
  margin: 2px;
}

.athena-footer-link-part {
  width: 500px;
  margin: 30px;
  display: flex;
  height: fit-content;
  height: -moz-fit-content;
}

.athena-footer-links {
  list-style: none;
  margin: 30px;
  width: fit-content;
  width: -moz-fit-content;
}

.athena-footer-links > h3 {
  font-weight: bold !important;
}

.athena-footer-links > li {
  margin: 25px 0px;
}

@media (max-width: 840px) {
  .athena-footer-link-part {
    margin: 30px 5px;
  }
}

@media (max-width: 745px) {
  .athena-footer-brand {
    margin: 30px 10px;
  }

  .athena-footer-link-part {
    flex-direction: column;
    width: fit-content;
    width: -moz-fit-content;
    margin: 15px;
  }

  .athena-footer-links {
    margin: 10px;
  }
}

@media (max-width: 620px) {
  .athena-footer-content {
    flex-direction: column;
  }

  .athena-footer-link-part {
    margin: 30px 10px;
  }

  .athena-footer-links {
    padding: 0px;
  }

  .athena-footer-brand {
    width: 100vw;
  }
}
