.wrapper {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

.bgGradient {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background: linear-gradient(
    170deg,
    var(--bgGradientColor) 0%,
    var(--primary-background) 75%
  );
}

.bgGradient::after {
  width: 100vw;
  height: 100vh;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  transition: opacity 0.5s linear;
  background-color: var(--primary-background);
  opacity: var(--bgGradientOpacity);
}
