.module {
  width: 100%;
  background-color: var(--primary-background-glass);
  padding: 15px;
  border-radius: 6px;
  margin: 20px 0px;
  max-width: 1000px;
  position: relative;
  z-index: 0;

  .moduleHead {
    margin-bottom: 5px;
    border-bottom: 1px solid #ffffff3f;
    padding-bottom: 10px;

    p {
      color: #949292;
      font-weight: bold;
    }
  }
}

.futureAvailable {
  width: 100%;
  margin: 10px 0px;
  font-weight: bold;
  border-left: 1px solid var(--primary-link);
  background-color: var(--primary-background);
  padding: 5px;
  padding-left: 10px;
}

.toggleableModule > .moduleHead > h2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
