@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");

.container {
  width: 100%;
  position: relative;
}

.innerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0px;

  &:nth-child(1) {
    margin-top: 15px;
  }

  > div {
    width: 100%;
    margin: 0px 5px;
    font-weight: bold;
    color: #d3d1d1;
    text-transform: uppercase;
  }
}

.togglePreview {
  color: var(--primary-link);
  position: absolute;
  right: 15px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.preview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100px;
  margin: 5px 0px;
  height: 100%;
  width: 100%;
}

.previewInner {
  width: 100%;
  height: 100%;
  min-height: 100px;
  margin-top: 30px;
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #36393f;
  border-radius: 5px;
  font-family: "Proxima Nova", "Helvetica Neue", sans-serif !important;
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  font-weight: bold;

  .authorName {
    position: relative;
    left: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .authorTag {
    position: relative;
    font-size: 10px;
    padding: 3px 4px;
    margin-left: 5px;
    border-radius: 4px;
    background-color: #5865f6;
  }

  .messageDate {
    color: #696c72;
    font-weight: normal;
    font-size: 13px;
    margin-left: 7px;
  }

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1f222c;
    position: absolute;
    top: 0.5px;
  }
}

.message {
  position: relative;
  left: 55px;
  top: 5px;
  width: 93%;
  color: #dcddde;

  .messageContent {
    margin-bottom: 7px;
  }
}
