.header {
  height: 55vh;
  min-height: 200px;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  font-size: 20px;
  max-width: 1100px;

  p {
    max-width: 1000px;
  }
}

.main {
  margin: 110px 0px;
  overflow: hidden;
  font-size: 17px;
}

.feature {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .featureWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1300px;

    img {
      height: 400px !important;
      width: 400px !important;
    }
  }

  &:nth-child(even) {
    .featureWrapper {
      flex-direction: row-reverse;
    }
  }

  .featureContent {
    max-width: 450px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 430px;

  * {
    margin: 10px;
  }
}

.btn {
  max-width: 150px;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(91, 89, 255, 0.27);
  box-shadow: 0px 0px 50px 5px rgba(91, 89, 255, 0.27);
}

@media only screen and (max-width: 1000px) {
  .feature {
    justify-content: center;

    .featureWrapper {
      flex-direction: column !important;
      justify-content: center;
    }

    .featureContent {
      margin: 30px 0px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
    font-size: 17px;
  }
}

@media only screen and (max-width: 490px) {
  .header {
    font-size: 15px;
  }

  .main {
    margin: 45px 0px;
  }

  .feature {
    font-size: 14px;

    .featureWrapper {
      img {
        height: 300px !important;
        width: 300px !important;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .feature {
    .featureWrapper {
      span img {
        height: 200px !important;
        width: 200px !important;
      }
    }
  }
}
