.athena-navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  transition: all 650ms ease;
  width: 1100px;
}

.navbar-brand {
  margin-left: 30px;
}

.nav-link {
  margin: 0 13px;
  color: #a8a8a8 !important;
}

.nav-link:hover {
  color: var(--primary-theme) !important;
  text-decoration: none !important;
}

.active {
  color: var(--primary-theme) !important;
  cursor: pointer;
  pointer-events: none;
  font-weight: bold !important;
}

#basic-navbar-nav {
  justify-content: space-between !important;
}

.disabled {
  cursor: default !important;
  pointer-events: none !important;
  display: none !important;
}

.athena-navbar-toggler {
  border: none !important;
  margin-right: 15px;
  position: relative;
  z-index: 1000000;
  background-color: transparent;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: none;
  transition: all 350ms ease;
  padding: 5px;
  box-sizing: unset;
  border-radius: 5px;
}

.athena-navbar-toggler:hover {
  background-color: var(--primary-theme);
}

@media (max-width: 992px) {
  .athena-navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    text-align: center;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-background-soft);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #basic-navbar-nav {
    justify-content: center !important;
  }

  #basic-navbar-nav .profile {
    margin: 10px 0px !important;
  }
}
