@keyframes rolesMenuInit {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.athena-input-role-container {
  width: 85% !important;
  border: none;
  margin: 10px 0px;
  transition: all 350ms ease;
  color: #b6b6b6;
  border: 1px solid transparent;
  max-width: 500px !important;
}

.athena-input-role-wrapper {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--secondary-background);
}

.athena-input-roles {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.athena-input-roles-add-btn {
  cursor: pointer;
  margin: 0px 10px;
}

.athena-input-roles-add-menu {
  width: 100%;
  margin: 10px 0px;
  max-width: 500px;
  padding: 7px;
  background-color: var(--primary-background);
  border-radius: 7px;
  max-height: 200px;
  overflow: hidden;
  animation: rolesMenuInit 250ms forwards !important;
  -webkit-box-shadow: 0px 12px 25px 9px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 12px 25px 9px rgba(0, 0, 0, 0.13);
}

.athena-input-roles-add-menu:hover {
  overflow-y: scroll;
}
