.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 140px 0px;
}

.main {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 750px);

  h2 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 16px;
  }

  ul {
    padding-left: 32px;
    margin-bottom: 16px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 100px;
}
