.command {
  width: 98%;
  height: fit-content;
  height: -moz-fit-content;
  background-color: var(--primary-background);
  margin: 30px;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 450ms ease;
  user-select: none;
}

.command > h5 {
  width: fit-content;
  width: -moz-fit-content;
}

.command p {
  line-height: 1.5;
}

.command code {
  font-size: 15px;
  color: var(--primary-theme);
  padding: 3px;
  border-radius: 3px;
  background-color: var(--secondary-background);
  margin: 6px 2px;
}

@keyframes commandExpandAnimText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.command-expand {
  background-color: var(--primary-background);
  margin-top: 20px;
  line-height: 1;
  animation: commandExpandAnimText 300ms forwards;
  display: none;
}

.command-active {
  display: block !important;
}
