@keyframes serverCardInit {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.athena-server {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-background);
  width: 280px;
  height: 330px;
  overflow: hidden;
  margin: 15px;
  border-radius: 10px;
  animation: serverCardInit 600ms forwards;
}

.server-top {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.server-bg {
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(30px);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.server-icon img {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  border: 3px solid var(--primary-theme);
  background-color: black;
  -webkit-box-shadow: 0px 0px 50px 17px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 50px 17px rgba(0, 0, 0, 0.35);
}

.server-bottom {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--primary-background);
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  z-index: 100;
}

.server-bottom h3 {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.server-bottom .athena-button {
  width: 100%;
  font-size: 17px;
}

@media (max-width: 330px) {
  .athena-server {
    width: 260px;
    height: 300px;
  }
}

@media (max-width: 300px) {
  .athena-server {
    width: 240px;
    height: 280px;
  }
}
